@charset "utf-8";

a,a:hover{text-decoration: none;}
.c-blue{color: #40b1e6;}
.ui_form_ele{height:auto;min-height: 68px;font-size:14px;color:#616161;}

.right_main{float:left;width:810px;}
.right_main .page_title{height: 39px;line-height: 39px;color: #40b1e6;font-size: 14px;}

.dashed_line{height: 0px;border-bottom: dashed 1px #e8e8e8;}
.solid_line{height: 0px;border-bottom: solid 1px #727272;}

.btn_blue{display:block;height:28px;line-height:28px;font-size: 12px;color: white;background-color: #40b1e6;}

.icon1{width: 13px;height: 15px;background: url("../images/accountSafe_01.png") no-repeat;}
.icon_yes{width: 48px;height: 48px;background: url("../images/reg_cuccess_icon.png") no-repeat 0 0;}
.icon_no{width: 48px;height: 48px;background: url("../images/reg_cuccess_icon.png") no-repeat 0 -48px;}

.accountSafe_box{width:100%;border:1px solid #cecece;text-align:center;font-size:14px;}
.accountSafe_box tbody tr td{height: 110px;line-height:24px;color:#3e3e3e;border-bottom: 1px solid #cecece;}
.accountSafe_box tbody tr td.bdr{border-right: 1px solid #cecece;}
.accountSafe_box tbody tr td .edit{display:block;margin:0 auto;width:55px;height:20px;line-height:20px;text-align:center;color:#fff;background-color:#40b1e6;font-size:12px;}
