
.agreement_main{width:768px;margin:0 auto;border:1px solid #e8e8e8;}
.agreement_title{padding:14px 17px;border-bottom:1px solid #e8e8e8;}
.agreement_title h2{font-weight:bold;color:#40b1e6;padding-left:29px;background:url(../images/agreement_title.gif) no-repeat;height:20px;font-size:14px;line-height:20px;}
.agreement_content{padding:0 25px 10px 40px;overflow-y:scroll;height:650px;border-bottom:1px solid #e8e8e8;color:#727272;}
.agreement_btns{width:272px;margin:0 auto;padding:10px;}
h1{line-height:50px;font-weight:bold;font-size:18px;color:#616161;text-align:center;}
.agreement_content .text{font-size:12px;line-height:22px;}
.agreement_btn{display:block;width:133px;height:50px;text-align:center;line-height:50px;font-size:16px;color:#fff;}
.agreement_btn_blue{background-color:#40b1e6;}
.agreement_btn_yellow{background-color:#fac03d;}
.agreement_tip{line-height:22px;padding-left:46px;color:#fff;font-size:12px;background-color:#fac03d;border-bottom:1px solid #e8e8e8;}
.agreement_download{display:block;width:74px;height:18px;border:1px solid #40b1e6;color:#40b1e6;font-size:14px;line-height:18px;text-align:center;}
.agreement_download_upload{padding-left:17px;padding-top:10px;}
.agreement_download_sign{color:#727272;padding-left:29px;background:url(../images/agreement_title.gif) no-repeat;height:20px;font-size:14px;line-height:20px;}
.agreement_download_sign a{color:#40b1e6;text-decoration:underline;}































