
.loginwrap{padding:80px 0 80px 498px;background:url(../images/loginpage.jpg) no-repeat 20px 127px;}
.login_title{line-height:34px;color:#40b1e6;font-size:18px;font-weight:normal;padding-bottom:28px;padding-left:62px;}
.ui_form_ele input.checkcode1{width:148px;}
.checkcode1wrap{display:block;float:left;}
.forgetPsw{display:block;float:right;}
.agreement_lab{width:250px;font-size:12px;}
.agreement_lab input{vertical-align:middle;}
.reg_free{display:block;line-height:52px;text-align:right;color:#616161;width:382px;font-size:12px;}
.reg_free:hover{color:#40b1e6;text-decoration:underline;}






































