
.uc_content{width:810px;float:left;}
.my_c_title{}
.my_c_title h1{float:left;height:48px;width:650px;border:1px dashed #40b1e6;border-right:none;padding-left:10px;font:14px/48px normal;color:#40b1e6;}
.newCustomer{display:block;float:right;width:84px;height:50px;padding-left:65px;line-height:50px;color:#fff;background:url(../images/newCustomer.png) no-repeat;}
.searchCustomer{}
.searchCustomer_icon{height:60px;padding-left:82px;line-height:60px;font-size:16px;color:#fac03d;background:url(../images/searchCustomer.png) no-repeat 23px 12px;}

.searchCustomer table{}


































