@charset "utf-8";

a,a:hover{text-decoration: none;}
.c-blue{color: #40b1e6;}
.ui_form_ele{height:auto;min-height: 68px;font-size:14px;color:#616161;}

.right_main{float:left;width:810px;}
.right_main .page_title{height: 39px;line-height: 39px;color: #40b1e6;font-size: 14px;}

.solid_line{height: 0px;border-bottom: solid 1px #727272;}

.btn_blue{display:block;float:left;width: 250px;text-align:center;height:50px;line-height:50px;font-size: 16px;color: white;background-color: #40b1e6;}
.btn_orange{display:block;float:left;width: 250px;text-align:center;height: 50px;line-height: 50px;font-size: 16px;color: white;background-color: #fac03d;}

.icon1{width: 19px;height: 22px;background: url("../images/orgInfo_01.png") no-repeat;}

.steps{}
.step1{height: 30px;background: url("../images/revisePassword_steps/step1.jpg") no-repeat left top;}
.steps li{line-height:26px;float: left;text-align: center;font-size: 14px;color: white;}

.imgVcode{width: 113px;height: 32px;border: solid 1px #b1b1b1;}