.right_main{width:810px;float:left;}
#main .heightauto{height:auto;}
#main .ui_form_ele .lab{width:150px;}
h1{font-size:14px;color:#40b1e6;font-weight:normal;line-height:39px;border-bottom:1px solid #727272;padding-left:12px;}.notice{font-size:18px;font-weight:bold;color:#40b1e6;line-height:78px;padding-left:20px;}
.date-picker-icon{display:block;width:14px;height:13px;font-size:0;line-height:0;background:url(../images/date-picker.png) no-repeat;position:absolute;z-index:2;right:10px;top:10px;}











