
h1{padding-left:10px;height:44px;line-height:42px;font-size:20px;color:#40b1e6;}
#searchbox{height:250px;overflow:hidden;border:1px solid #e8e8e8;}
#searchbox .search_0{height:50px;line-height:50px;font-size:14px;border-bottom:1px dashed #e8e8e8;}
#searchbox .search_0 .search_00{display:block;padding-left:17px;width:70px;color:#838383;}
#searchbox .search_0 .search_ipt{float:left;height:30px;width:480px;margin-top:8px;border:2px solid #40b1e6;border-right:none;}
#searchbox .search_0 .search_ipt input{border:none;background:none;height:30px;width:470px;line-height:32px;}
#searchbox .search_0 .search_button{display:block;width:86px;height:34px;background-color:#40b1e6;font-size:16px;color:#fff;text-align:center;line-height:34px;margin-top:8px;}
#searchbox .search_0 .search_ipt input:-webkit-autofill{-webkit-box-shadow:0 0 0 100px white inset;}
#searchbox .search_div{padding:9px 0 6px 17px;color:#535353;line-height:24px;border-bottom:1px dashed #e8e8e8;color:#535353;font-size:12px;}
#searchbox .search_div .search_name{display:block;float:left;height:24px;}
#searchbox .search_div .search_links{float:left;}
#searchbox .search_div .search_links .search_link{display:block;float:left;height:24px;padding:0 12px;margin-right:10px;color:#535353;}
#searchbox .search_div .search_links .search_link:hover{background-color:#40b1e6;color:#fff;}
#searchbox .search_div .search_links .active{background-color:#40b1e6;color:#fff;}
.more_search{display:block;width:66px;height:20px;padding-left:19px;background-image:url(../images/more_search_03.png);margin-left:458px;margin-bottom:8px;text-align:center;font-size:12px;color:#acacac;line-height:20px;position:relative;z-index:2;top:-1px;}
.ms_back{background-position:0 -20px;}

.selected{height:38px;margin-bottom:5px;background-color:#f8f8f8;border:1px solid #e8e8e8;}
.selected .selected_0{display:block;float:left;padding-left:16px;width:75px;line-height:38px;color:#5d5d5d;font-size:14px;}
.selected .selected_link{float:left;margin:5px 10px 0 0;height:26px;padding:0 32px 0 9px;line-height:26px;font-size:12px;background-color:#FFF;border:1px solid #e8e8e8;color:#5a5a5a;position:relative;z-index:2;}
.selected .selected_link a{display:block;width:11px;height:11px;line-height:0;position:absolute;z-index:2;top:8px;right:8px;background:url(../images/clear_selected.png) no-repeat;}
.selected .clear_selected{display:block;float:right;margin:4px 5px 0 0;width:70px;height:28px;text-align:center;line-height:28px;font-size:12px;color:#40b1e6;border:1px solid #40b1e6;background-color:#FFF;}






























