#footer{padding-bottom:50px;}
.nav_bar{height:50px;background-color:#f0f2f5;}
.nav_bar ul{float:left;padding-top:6px;}
.nav_bar ul li{float:left;margin-right:10px;height:38px;}
.nav_bar ul li a{display:block;float:left;height:36px;line-height:36px;padding:0 20px;border:1px solid #f0f2f5;color:#666;font-size:14px;}
.nav_bar ul li a:hover{border-color:#40b1e6;}
.nav_bar ul li.active a{background-color:#40b1e6;color:#fff;border-color:#40b1e6;}
.nav_bar a.reserve{display:block;float:right;width:166px;height:40px;line-height:40px;text-align:center;color:#fff;background:url(../images/reserve_03.png) no-repeat;margin-top:5px;}
.nav_bar_top{width:100%;position:fixed;_position:absolute;top:0;_top:expression(eval(document.documentElement.scrollTop));z-index:20;}
#nav_bar_wrap{height:50px;}
.pd_left{float:left;width:320px;}
.pd_left .pd_img{display:block;width:298px;height:298px;border:1px solid #e4dfdf;line-height:0;}
.pd_left .pd_img img{width:298px;height:298px;}
.pd_left .follows{background:url(../images/p_list_follow_icon_07.png) no-repeat 9px 8px;height:26px;padding:8px 0 0 46px;font-size:12px;line-height:26px;margin:15px 0 0 75px;}
.pd_left .follows .red{font-size:14px;font-weight:bold;}
.pd_right .pd_benefits{line-height:18px;color:#474747;font-size:12px;padding:6px 0;border-top:1px dashed #e8e8e8;border-bottom:1px dashed #e8e8e8;}
h1{height:44px;font-size:14px;line-height:44px;color:#474747;}
h1 img{vertical-align:middle;}
.pd_n{height:76px;background-color:#f6f6f7;}
.pd_n dl{float:left;height:46px;margin-top:15px;}
.pd_n .pd_n0{width:400px;padding-left:12px;border-right:1px solid #cacaca;}
.pd_n .pd_n1{width:117px;border-right:1px solid #cacaca;text-align:center;}
.pd_n .pd_n2{width:149px;text-align:center;}
.pd_n .pd_n0 dt{float:left;font-size:14px;color:#565656;line-height:46px;}
.pd_n .pd_n0 dd{float:left;font-size:32px;color:#ec8028;line-height:46px;}
.pd_n .pd_n1 dd,.pd_n .pd_n2 dd{font-size:20px;color:#ec8028;}
.pd_n .pd_n1 dt,.pd_n .pd_n2 dt{font-size:12px;color:#b5b5b5;}
.pd_right{float:left;width:680px;}
.pd_right table{color:#808080;font-size:16px;}
.pd_right table td{height:38px;line-height:38px;}
.pd_right table td.describ{padding-right:30px;}
.pd_right table td .strong{font-size:20px;}
.pd_right .pd_time,.pd_right .pd_money{height:46px;line-height:46px;}
.pd_right .pd_time span{display:block;float:left;}
.pd_right .pd_time a{display:block;float:left;height:28px;padding:0 15px;margin-top:9px;margin-right:10px;line-height:28px;border:1px solid #c6c6c6;font-size:16px;color:#444;}
.pd_right .pd_time a.active{border:1px solid #40b1e6;background-color:#40b1e6;color:#fff;}
.pd_right .pd_money{height:56px;line-height:56px;margin-bottom:10px;}
.pd_right .pd_money span{display:block;float:left;}
.pd_right .pd_money input{display:block;float:left;width:180px;height:40px;line-height:40px;margin:8px 5px 0 0;border:1px solid #c6c6c6;font-size:20px;text-align:right;}
.pd_right .pd_interest{float:left;border:1px dashed #ec8028;margin-bottom:15px;padding:0 75px 0 20px;height:48px;line-height:48px;font-size:14px;color:#808080;}
.pd_right .pd_interest .content{font-size:18px;color:#ec8028;}
.pd_right .reserve{display:block;width:166px;height:40px;line-height:40px;text-align:center;color:#fff;background:url(../images/reserve_03.png) no-repeat;}

#main h2{height:54px;padding-top:20px;font-size:16px;color:#474747;}
.pro_info_table{border:1px solid #c7c7c7;border-collapse:collapse;font-size:14px;width:90%;margin:0 auto;}
.pro_info_table td{border:1px solid #c7c7c7;line-height:34px;color:#474747;padding:0 20px;}
.pro_info_table td.title{width:128px;text-align:center;color:#666;background-color:#eaf2f6;padding:0;}
.pro_files{background-color:#f7f7f7;border:1px solid #c7c7c7;padding:15px 22px;}
.pro_files li{float:left;margin:0 18px;height:195px;overflow:hidden;}
.pro_files a{display:block;width:100px;}
.pro_files dt{width:100px;height:130px;line-height:0;padding-bottom:5px;}
.pro_files dd{font-size:12px;color:#474747;}
.pro_organ{border:1px solid #c7c7c7;line-height:28px;font-size:12px;color:#474747;}
.pro_organ p{width:810px;padding:10px 0 0 0;}
.pro_information ul li{height:29px;border-bottom:1px dotted #d1d6e3;line-height:28px;font-size:12px;}
.pro_information ul li a.news_link{display:block;float:left;width:200px;color:#5b5b5b;padding-left:8px;background:url(../images/dotted_30.png) no-repeat 1px center;}
.pro_information ul li a.news_link:hover{text-decoration:underline;}
.pro_information ul li a.news_date{display:block;float:right;width:70px;color:#c4c4c4;}
/* .pro_information .logo{display:block;float:left;width:148px;height:148px;border:1px solid #c7c7c7;margin-right:60px;} */
.pro_information .list_l{float:left;width:293px;height:150px;padding-right:64px;border-right:1px solid #d9d9d9;}
.pro_information .list_r{float:left;padding-left:49px;width:292px;height:150px;}
.pro_videos{}
.pro_videos .video{float:left;width:300px;height:170px;line-height:0;margin:0 10px 20px;}

.pro_q{padding-bottom:13px;}
.pro_q .user_avatar{display:block;float:left;width:78px;height:78px;border:1px solid #c7c7c7;line-height:0;margin-right:53px;}
.pro_q .pro_q_0{float:left;width:857px;}
.pro_q .pro_q_0 .q_box{position:relative;z-index:2;padding-bottom:13px;}
.pro_q .pro_q_0 .q_box textarea{display:block;border:1px solid #c7c7c7;width:855px;height:98px;background-color:#f6f6f7;resize: none;}
.pro_q .pro_q_0 .q_box .q_con{position:absolute;z-index:2;top:0;left:-10px;width:11px;height:13px;line-height:0;background-image:url(../images/q_con.png);font-size:0;_top:1px;}
.pro_q .pro_q_0 #text_count{float:left;line-height:13px;padding-left:17px;font-size:12px;color:#474747;}
.pro_q .pro_q_0 .pro_ask{display:block;float:right;width:166px;height:40px;line-height:40px;text-align:center;font-size:16px;color:#fff;background-color:#40b1e6;}

.pro_questions li{padding:20px 0 0;border-top:1px dashed #c7c7c7;}
.pro_questions li .questions{padding-bottom:24px;}
.pro_questions li .questions .user_avatar{display:block;float:left;width:58px;height:58px;border:1px solid #c7c7c7;line-height:0;margin-right:11px;}
.pro_questions li .questions .pq_0{float:left;width:915px;}
.pro_questions li .questions .pq_0 .username{line-height:16px;padding-bottom:11px;}
.pro_questions li .questions .pq_0 .username a{color:#474747;font-size:14px;}
.pro_questions li .questions .pq_0 .username span{font-size:12px;color:#aaa;}
.pro_questions li .questions .pq_0 .ask{float:left;height:25px;line-height:25px;padding:0 24px 0 34px;margin-top:5px;font-size:16px;color:#3a3a3a;background:url(../images/ask_icon.png) no-repeat;}
.pro_questions li .questions .pq_0 .toAnswer{display:block;float:left;width:90px;height:30px;line-height:30px;text-align:center;color:#fff;background-color:#31b049;}
.pro_questions li .answerbox{margin:0 0 15px 65px;border:1px solid #c7c7c7;background-color:#eceff5;position:relative;z-index:2;}
.pro_questions li .answerbox .user_avatar{display:block;float:left;margin:9px 16px 13px 12px;width:58px;height:58px;border:1px solid #c7c7c7;line-height:0;}
.pro_questions li .answerbox .username{padding:9px 0 20px;width:820px;line-height:16px;}
.pro_questions li .answerbox .username a{color:#474747;font-size:14px;}
.pro_questions li .answerbox .username span{font-size:12px;color:#aaa;}
.pro_questions li .answerbox .answer{font-size:16px;color:#3a3a3a;line-height:1.5em;padding-bottom:10px;}
.pro_questions li .answerbox .a_con{width:10px;height:12px;background:url(../images/q_con.png) no-repeat 0 -14px;position:absolute;z-index:2;top:-12px;left:-1px;}

