
h1{padding-left:10px;height:44px;line-height:42px;font-size:20px;color:#40b1e6;}
#searchbox{height:250px;overflow:hidden;border:1px solid #e8e8e8;}
#searchbox .search_0{height:50px;line-height:50px;font-size:14px;border-bottom:1px dashed #e8e8e8;}
#searchbox .search_0 .search_00{display:block;padding-left:17px;width:70px;color:#838383;}
#searchbox .search_0 .search_ipt{float:left;height:30px;width:480px;margin-top:8px;border:2px solid #40b1e6;border-right:none;}
#searchbox .search_0 .search_ipt input{border:none;background:none;height:30px;width:470px;line-height:32px;}
#searchbox .search_0 .search_button{display:block;width:86px;height:34px;background-color:#40b1e6;font-size:16px;color:#fff;text-align:center;line-height:34px;margin-top:8px;}
#searchbox .search_0 .search_ipt input:-webkit-autofill{-webkit-box-shadow:0 0 0 100px white inset;}
#searchbox .search_div{padding:9px 0 6px 17px;color:#535353;line-height:24px;border-bottom:1px dashed #e8e8e8;color:#535353;font-size:12px;}
#searchbox .search_div .search_name{display:block;float:left;height:24px;}
#searchbox .search_div .search_links{float:left;}
#searchbox .search_div .search_links .search_link{display:block;float:left;height:24px;padding:0 12px;margin-right:10px;color:#535353;}
#searchbox .search_div .search_links .search_link:hover{background-color:#40b1e6;color:#fff;}
#searchbox .search_div .search_links .active{background-color:#40b1e6;color:#fff;}
.more_search{display:block;width:66px;height:20px;padding-left:19px;background-image:url(../images/more_search_03.png);margin-left:458px;margin-bottom:8px;text-align:center;font-size:12px;color:#acacac;line-height:20px;position:relative;z-index:2;top:-1px;}
.ms_back{background-position:0 -20px;}

.selected{height:38px;margin-bottom:5px;background-color:#f8f8f8;border:1px solid #e8e8e8;}
.selected .selected_0{display:block;float:left;padding-left:16px;width:75px;line-height:38px;color:#5d5d5d;font-size:14px;}
.selected .selected_link{float:left;margin:5px 10px 0 0;height:26px;padding:0 32px 0 9px;line-height:26px;font-size:12px;background-color:#FFF;border:1px solid #e8e8e8;color:#5a5a5a;position:relative;z-index:2;}
.selected .selected_link a{display:block;width:11px;height:11px;line-height:0;position:absolute;z-index:2;top:8px;right:8px;background:url(../images/clear_selected.png) no-repeat;}
.selected .clear_selected{display:block;float:right;margin:4px 5px 0 0;width:70px;height:28px;text-align:center;line-height:28px;font-size:12px;color:#40b1e6;border:1px solid #40b1e6;background-color:#FFF;}
.result_title{height:38px;padding:0 15px;border:1px solid #e8e8e8;line-height:38px;font-size:14px;}
.result_title .result_title_0{float:left;color:#5d5d5d;}
.result_title .result_title_0 .rt_count{font-weight:bold;color:#ff6e0e;}
.result_title .rt_paging{float:right;}
.result_title .rt_paging span{display:block;float:left;}
.result_title .rt_paging .prev_page,.result_title .rt_paging .next_page{width:9px;height:17px;margin-top:10px;background-image:url(../images/pro_list_paging.png);}
.result_title .rt_paging .prev_page{margin-right:10px;}
.result_title .rt_paging .next_page{margin-left:10px;background-position:-9px 0;}
.result_title .rt_paging .pages{width:56px;text-align:center;}

.pro_info{padding:20px 0;border-bottom:1px dotted #cfcfcf;}
.pro_info .pro_link{display:block;float:left;width:178px;height:178px;border:1px solid #e4dfdf;margin-right:9px;}
.pro_info .pro_link img{width:178px;height:178px;}
.pro_info .pro_info_0{float:left;width:396px;}
.pro_info .pi_benefits span{display:block;float:left;margin-right:19px;padding:0 19px;height:28px;line-height:28px;border:1px solid #c6c6c6;color:#444;font-size:16px;}
.pro_info .pro_info_0 h3{height:30px;line-height:30px;padding-top:7px;color:#474747;font-size:14px;color:#474747;}
.pro_info .pro_info_0 h3 img{vertical-align:middle;}
.pro_info .pro_info_0 table{border:none;font-size:12px;}
.pro_info .pro_info_0 table td{height:30px;line-height:30px;}
.pro_info .pro_info_0 table .title{color:#818181;}
.pro_info .pro_info_0 table .describ{color:#535353;padding-right:10px;}
.pro_info .pro_info_0 table .red{font-weight:bold;font-size:14px;}
.pro_info .pro_info_1{float:left;width:245px;}
.pro_info .pro_info_1 table{border:1px solid #c6c6c6;font-size:14px;border-collapse:collapse;}
.pro_info .pro_info_1 table th{font-size:12px;text-align:center;font-weight:normal;}
.pro_info .pro_info_1 table td,.pro_info .pro_info_1 table th{height:30px;line-height:30px;border-bottom:1px solid #c6c6c6;}
.pro_info .pro_info_1 table .title{color:#444;padding:0 34px 0 10px;}
.pro_info .pro_info_1 table .describ{color:#f14d2c;padding-right:10px;font-size:16px;font-weight:bold;}
.pro_info .pro_info_1 .follows{background:url(../images/p_list_follow_icon_07.png) no-repeat 9px 8px;height:26px;padding:8px 0 0 46px;font-size:12px;line-height:26px;margin:15px 0 0 75px;}
.pro_info .pro_info_1 .follows .red{font-size:14px;font-weight:bold;}
.pro_info .pro_info_2{float:left;width:164px;}
.pro_info .pro_info_2 .cost{border:1px solid #c6c6c6;text-align:center;margin-bottom:10px;}
.pro_info .pro_info_2 .cost_title{height:28px;line-height:28px;font-size:12px;color:#444;border-bottom:1px solid #c6c6c6;}
.pro_info .pro_info_2 .cost_des{height:99px;line-height:99px;font-size:30px;color:#f14d2c;}
.pro_info .pro_info_2 .reserve{display:block;height:40px;text-align:center;line-height:40px;font-size:16px;color:#fff;background-color:#f14d2c;}

.main_paging{padding:23px 0 20px;font-size:12px;text-align:center;}
.main_paging a{display:inline-block;height:26px;line-height:26px;border:1px solid #8a8a8a;color:#5d5d5d;}
.main_paging .prev_page,.main_paging .next_page{padding:0 10px;}
.main_paging .pages,.main_paging .prevs,.main_paging .nexts{width:26px;text-align:center;}
.main_paging .prevs,.main_paging .nexts{background-image:url(../images/main_paging_btns.png);}
.main_paging .prevs{background-position:0 -26px;}
.main_paging .nexts{background-position:-26px -26px;}
.main_paging a.disabled{border:1px solid #d9d9d9;color:#d9d9d9;}
.main_paging a.disabled_prevs{border:1px solid #d9d9d9;background-position:0 0;}
.main_paging a.disabled_nexts{border:1px solid #d9d9d9;background-position:-26px 0;}
.main_paging a.active{border:1px solid #40b1e6;background-color:#40b1e6;color:#fff;}

.main_partners{border-top:1px solid #cfcfcf;}




















































