/* 通用部分 */
h3.main_header3{line-height:32px;font-size:16px;color:#40b1e6;}
.mainwrap{width:1000px;margin:0 auto;}
.more{display:block;width:38px;height:16px;line-height:0;font-size:0;background:url(../images/more_20.png) no-repeat;}
/* 头部 */
#header{height:88px;background-color:#f8f8f8;border-bottom:2px solid #40b1e6;}
#header .logo{display:block;float:left;margin:20px 55px 0 0;width:296px;height:50px;overflow:hidden;}
#header .nav{margin-top:30px;}
#header .nav li{float:left;height:56px;line-height:56px;}
#header .nav li a{display:block;float: left;padding:0 22px 0 46px;color:#4c4e62;background-image:url(../images/index_nav_01.png);}
#header .nav li .nav_0{background-position:10px 16px;}
#header .nav li .nav_1{background-position:-105px 16px;}
#header .nav li .nav_2{background-position:-229px 16px;}
#header .nav li .nav_3{background-position:-350px 16px;}
#header .nav li.active{}
#header .nav li.active a{color:#40b1e6;border-bottom:2px solid #40b1e6;}
#header .nav li.hover a{color:#40b1e6;border-bottom:2px solid #40b1e6;}
#header .nav li.active .nav_0{background-position:10px -36px;}
#header .nav li.active .nav_1{background-position:-105px -36px;}
#header .nav li.active .nav_2{background-position:-229px -36px;}
#header .nav li.active .nav_3{background-position:-350px -36px;}
#header .nav li.hover .nav_0{background-position:10px -36px;}
#header .nav li.hover .nav_1{background-position:-105px -36px;}
#header .nav li.hover .nav_2{background-position:-229px -36px;}
#header .nav li.hover .nav_3{background-position:-350px -36px;}

/* 登录框 */
#loginBox{float:right;width:149px;height:50px;background-color:#40b1e6;color:#fff;position:relative;z-index:11;}
#loginBox .login_btns{}
#loginBox .login_btns a{display:block;float:left;width:74px;height:16px;margin:17px 0;line-height:16px;color:#fff;text-align:center;}
#login_btn{border-right:1px solid #fff;font-weight:bold;}
#loginPop{position:absolute;right:0;top:52px;z-index:10;width:245px;height:276px;border:1px solid #b1b1b1;color:#4a4a4a;background-color:#FFF;}
#loginPop h3.loginPop_title{height:28px;line-height:28px;text-align:center;color:#fff;font-size:14px;font-weight:normal;background-color:#40b1e6;}
#loginPop #loginForm{padding:6px 20px 16px;}
#loginForm .form_div{margin-bottom:13px;font-size:12px;}
#loginForm .form_div .login_lab{display:block;border:1px solid #b1b1b1;padding-left:46px;height:28px;background-color:#f6fcff;overflow:hidden;}
#loginForm .form_div .login_ipt{background-color:#f6fcff;height:28px;width:150px;line-height:28px;border:none;color:#4a4a4a;vertical-align:middle;}
#loginForm .form_div .checkcode_lab{padding-left:10px;}
#loginForm .form_div .checkcode_lab img{float:right;cursor:pointer;}
#loginForm .form_div .login_checkcode{display:block;float:left;width:80px;vertical-align:top;}
#loginForm .form_div .autologin{display:block;float:left;line-height:28px;}
#loginForm .form_div .username{background:url(../images/login_pop_03.png) no-repeat #f6fcff;}
#loginForm .form_div .password{background:url(../images/login_pop_06.png) no-repeat #f6fcff;}
#autologin{vertical-align: middle;}
#loginForm .form_div .forgetPsw{display:block;float:right;line-height:28px;color:#40b1e6;}
#loginForm .form_div .forgetPsw:hover{text-decoration:underline;}
#loginForm .login_valied_info{height:20px;font-size:12px;color:red;}
#login_submit{display:block;width:205px;height:36px;line-height:36px;padding:0;margin:0 auto;border:none;background-color:#fac03d;color:#fff;font-size:14px;cursor:pointer;text-align:center;}


/* 已登录用户中心 */
#userBox{float:right;width:119px;height:48px;position:relative;z-index:11;top:-1px;border:1px solid #40b1e6;}
#userBox .userAvatar{margin:9px 3px;width:30px;height:30px;overflow:hidden;line-height:0;}
#userBox .userAvatar img{width:30px;height:30px;}
#userBox .userMessageUnread{width:29px;height:31px;padding-top:30px;text-align:center;color:#fff;font-size:10px;position:absolute;right:-29px;_right:-30px;top:0;z-index:3;background-image:url(../images/userMessageUnread.gif);}
#userBox .username{line-height:18px;padding-top:20px;color:#5d5e6f;font-size:12px;overflow:hidden;border-bottom:1px solid #40b1e6;}
#userBox .userInfoBox{display:none;width:147px;border:1px solid #40b1e6;font-size:12px;background-color:#FFF;position:absolute;top:48px;left:-1px;z-index:2;}
#userBox .userInfoBox a:hover{color:#40b1e6;}
#userBox .uib_0{padding:19px 0 5px 26px;width:104px;margin:0 auto;background:url(../images/uib_0.png) 9px 19px no-repeat;line-height:15px;color:#3b9740;border-bottom:1px solid #ddd;}
#userBox .uib_1{width:130px;margin:0 auto;color:#ddd;font-size:12px;border-bottom:1px solid #ddd;}
#userBox .uib_1 li{line-height:26px;height:26px;padding-left:46px;background-image:url(../images/uib_1.png);background-repeat:no-repeat;}
#userBox .uib_1 li a{color:#4c4e62;}
#userBox .uib_1 li span.newOrder{color:#40b1e6;font-size:10px;}
#userBox .uib_1 .uib_1_0{background-position:11px 4px;}
#userBox .uib_1 .uib_1_1{background-position:11px -22px;}
#userBox .uib_1 .uib_1_2{background-position:11px -48px;}
#userBox .user_quit{width:84px;padding-left:46px;margin:0 auto;height:32px;line-height:26px;background:url(../images/uib_1.png) no-repeat 11px -77px;}
#userBox .user_quit a{color:#4c4e62;}

/* 面包屑 */
.bread{float:left;line-height:26px;font-size:14px;border-bottom:1px dashed #bebebe;padding-top:11px;}
.bread .bread_root{color:#40b1e6;}
.bread .bread_1{color:#bebebe;}
.bread .bread_2{color:#878787;}
.bread .bread_gray{color:#878787;}



/* 下部合作伙伴 */
#main .main_partners{padding:50px 0 48px;height:60px;}
#main .pm_btn{display:block;float:left;margin:0 8px;width:24px;height:60px;background-image:url(../images/pm_nav.png);}
#main .pm_next{background-position:-24px 0;}
#main .pm_box{width:900px;height:60px;overflow:hidden;}
#main .pm_box ul{width:910px;}
#main .pm_box li{width:130px;float:left;}
#main .pm_box li a{display:block;width:118px;line-height:0;border:1px solid #e9e9e9;}
#main .bdb1{border-bottom:1px solid #cfcfcf;}

/* 底部 */
#footer{padding-top:26px;text-align:center;background-color:#40b1e6;color:#fff;}
#footer .logo{display:block;width:101px;height:50px;margin:0 auto;margin-bottom:32px;}
#footer .hotline{font-size:12px;}
#footer .hotline_num{font-size:40px;line-height:60px;padding-bottom:13px;}
#footer .links{font-size:12px;line-height:46px;}
#footer .links a{color:#fff;}
#footer .bdb{width:720px;margin:0 auto;border-bottom:1px dotted #fff;}
#footer .copy{line-height:32px;font-size:12px;padding:10px 0 25px 0;}

/* 侧边栏 */
#sidebar{position:fixed;right:0;top:300px;z-index:100;width:49px;height:203px;background:url(../images/side_service_03.png) no-repeat;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+300));overflow:hidden;}
#sidebar .side_btns{}
#sidebar .side_btns a{display:block;height:51px;}
#go_top{height:50px;}

/* 表单部分 */
.ui_form_ele{height:68px;font-size:14px;color:#616161;}
.ui_form_ele label{display:block;float:left;}
.ui_form_ele .lab{display:block;float:left;width:132px;text-align:right;line-height:32px;}
.ui_form_ele .ui_input{display:block;float:left;width:248px;height:32px;line-height:32px;background-color:#fcfcfc;border:1px solid #b1b1b1;color:#616161;}
.ui_form_ele .ui_input_long{width:500px;}
.ui_form_ele .ui_input_invalid{border-color:#ea4848;}
.ui_form_ele .ui_check_input{width:134px;border-right:none;}
.ui_form_ele .getcheckcode{display:block;float:left;width:115px;height:34px;line-height:34px;text-align:center;background-color:#40b1e6;color:#fff;font-size:12px;}
.ui_form_ele .getcheckcode_disabled{background-color:gray;}
.ui_form_ele .valid_icon{display:block;float:left;margin:5px 0 0 10px;width:25px;height:25px;background-image:url(../images/reg_valid_icon.png);}
.ui_form_ele .valid_info{display:block;padding-left:132px;font-size:12px;color:#ea4848;line-height:28px;}
.ui_form_ele .remark{display: inline-block;font-size: 12px;color: #cecece;}

.ui_form_ele .invalided{background-position:0 -25px;}
.ui_form_ele .agreement_lab{padding-left:132px;line-height:20px;}
.ui_form_ele .agreement_lab #agreement{vertical-align:middle;}
.ui_form_ele .agreement_lab a{color:#616161;}
.ui_form_ele .agreement_lab a:hover{color:#40b1e6;}
form .submit{display:block;margin:0 0 0 132px;width:250px;height:50px;background-color:#fac03d;text-align:center;line-height:50px;font-size:16px;color:#fff;}
form .submit_disabled{background-color:#b1b1b1;cursor:default;}
.ui_div_select{float:left;width:250px;height:32px;cursor:default;position:relative;z-index:2;}
.ui_div_select_value{height:30px;padding-left:8px;line-height:30px;border:1px solid #b1b1b1;background:#fcfcfc url(../images/ui_div_select_value.png) no-repeat 220px 12px;overflow:hidden;}
.ui_div_select_options{position:absolute;top:31px;left:0;width:248px;line-height:28px;background-color:#FFF;border:1px solid #b1b1b1;max-height:174px;overflow-y:auto;overflow-x:hidden;}
.ui_div_select_options li{padding-left:8px;height:28px;border-bottom:1px solid #eee;overflow:hidden;}
.ui_check{height:32px;line-height:32px;_padding-top:6px;}
.ui_check input{vertical-align:middle;}

/* 分页 */
.main_paging{padding:23px 0 20px;font-size:12px;text-align:center;}
.main_paging a{display:inline-block;height:26px;line-height:26px;border:1px solid #8a8a8a;color:#5d5d5d;}
.main_paging .prev_page,.main_paging .next_page{padding:0 10px;}
.main_paging .pages,.main_paging .prevs,.main_paging .nexts{width:26px;text-align:center;}
.main_paging .prevs,.main_paging .nexts{background-image:url(../images/main_paging_btns.png);}
.main_paging .prevs{background-position:0 -26px;margin-right:20px;}
.main_paging .nexts{background-position:-26px -26px;margin-left:20px;}
.main_paging a.disabled{border:1px solid #d9d9d9;color:#d9d9d9;}
.main_paging a.disabled_prevs{border:1px solid #d9d9d9;background-position:0 0;}
.main_paging a.disabled_nexts{border:1px solid #d9d9d9;background-position:-26px 0;}
.main_paging a.active{border:1px solid #40b1e6;background-color:#40b1e6;color:#fff;}
.main_paging .toPageInput{width:28px;height:28px;line-height:26px;text-align:center;border:1px solid #d9d9d9;vertical-align:middle;}
.main_paging .toPageBtn{width:58px;height:28px;border:none;background-color:#40b1e6;color:#fff;text-align:center;line-height:28px;}

/* 用户中心菜单部分 */
.user_menu{float:left;width:190px;}
.user_menu ul{width:178px;border:1px solid #e8e8e8;border-bottom:none;font-size:14px;color:#5d5d5d;}
.user_menu ul li{line-height:38px;border-bottom:1px solid #e8e8e8;}
.user_menu ul li a{display:block;color:#5d5d5d;background-color:#f6f7f7;padding-left:17px;}
.user_menu ul li a:hover{background-color:#40b1e6;color:#fff;}
.user_menu ul li.active a{background-color:#40b1e6;color:#fff;}
.user_menu ul li.title{padding-left:17px;background:url(../images/user_menu_title.png) no-repeat 160px 17px;}
.user_menu ul li.slideDown{background-position:160px -16px;}

/* 消息提示 */
#mainTip{width:998px;height:26px;line-height:26px;border:1px solid #bababa;background-color:#FFF;position:fixed;_position:absolute;bottom:0;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-28));left:50%;margin-left:-500px;}
#mainTip .tipContent{float:left;padding-left:30px;background:url(../images/mainTip.png) no-repeat 7px center;font-size:14px;color:#484851;}
#mainTip a.tipClose{display:block;float:right;width:20px;height:26px;background:url(../images/tipClose.png) no-repeat center center;}

#mask{display:none;width:100%;height:100%;_height:expression(document.body.offsetHeight);position:fixed;top:0;left:0;z-index:1000;_position:absolute;background:black;opacity:.6;filter:alpha(opacity=60);}
#videoPop{display:none;width:524px;height:510px;position:fixed;top:50%;left:50%;z-index:1001;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight/2));margin:-270px 0 0 -260px;background-color:#FFF;}
#videoPop h3{line-height:54px;font-size:18px;color:#474747;padding-left:20px;font-weight:normal;padding-bottom:20px;}
#videoBox{width:480px;height:400px;margin:0 auto;}

#followTip{width:30px;height:24px;color:red;font-weight:bold;font-size:14px;position:absolute;text-align:center;z-index:900;line-height:24px;cursor:default;}
