/* 面包屑 */
.bread{float:left;line-height:26px;font-size:14px;border-bottom:1px dashed #bebebe;padding-top:11px;}
.bread .bread_root{color:#40b1e6;}
.bread .bread_1{color:#bebebe;}
.bread .bread_2{color:#878787;}
.bread .bread_gray{color:#878787;}


/* 表单部分 */
.m_xiaoren{float:left;padding:22px 0 0 54px;width:212px;}

.mainBox{border:1px solid #e8e8e8;}
.m_title{border-bottom:1px solid #e8e8e8;height:60px;padding-top:15px;line-height:48px;font-size:26px;color:#40b1e6;}
.m_title h2{float:left;padding:0 75px 0 54px;background:url(../images/reg_cuccess_icon.png) right 0 no-repeat;font-weight:normal;font-size:26px;}
.m_title .reserve_id{float:right;padding-right:56px;}
.reserve_revisit{float:left;width:675px;padding-top:25px;}
.rr_wait{font-size:16px;font-weight:bold;color:#fac03d;}





























































