#banner{height:340px;position:relative;z-index:2;}
#banner .marqueeBox{overflow:hidden;height:340px;width:100%;position:relative;z-index:3;}
#banner .marqueeBox ul{}
#banner .marqueeBox ul li{position:absolute;top:0;left:0;z-index:2;width:100%;text-align:center;line-height:0;}
#banner .marqueeNav{position:absolute;top:315px;left:50%;z-index:4;}
#banner .marqueeNav li{float:left;width:11px;height:11px;margin-right:11px;font-size:0;line-height:0;background-image:url(../images/banner_nav.png);background-position:0 -11px;cursor:pointer;}
#banner .marqueeNav li.active{background-position:0 0;}

#superiority{width:865px;margin:0 auto;padding-top:30px;}
.superiority_div{background-image:url(../images/superiority.png);background-repeat:no-repeat;}
#superiority_0{height:592px;}
#superiority_1{height:533px;background-position:0 -592px;}
#superiority_2{height:647px;background-position:0 -1125px;}
#superiority_3{height:543px;background-position:0 -1772px;}











