

.right_main{width:810px;float:left;}
h1{line-height:65px;font-size:24px;font-weight:normal;text-align:center;border-top:1px dotted #d5d5d5;border-bottom:1px dotted #d5d5d5;color:#40b1e6;}
.team_list{padding-top:25px;}
.team_pro{border:1px solid #40b1e6;padding-bottom:15px;margin-bottom:10px;}
.tp_left{float:left;padding:14px 0 0 24px;width:203px;}
.tp_right{float:left;width:560px;}
.tp_right h3{padding-top:4px;line-height:36px;color:#8e8e8e;font-size:16px;border-bottom:1px dotted #d5d5d5;margin-bottom:9px;}
.tp_0{width:190px;height:26px;border:1px solid #40b1e6;text-align:center;line-height:26px;color:#40b1e6;font-size:16px;margin-bottom:9px;}
.tp_text{line-height:25px;font-size:12px;color:#727272;margin-bottom:20px;}
.tp_1{border-top:1px dotted #d5d5d5;border-bottom:1px dotted #d5d5d5;padding:3px 0;line-height:25px;color:#727272;font-size:12px;}




















