/* 打款凭证上传 */
.uc_content{width:810px;float:left;}
.uc_title{border-bottom:1px solid #727272;}
.uc_title h1{height:38px;line-height:38px;float:left;padding-right:47px;padding-left:9px;background:url(../images/uc_title.png) no-repeat right 5px;font-size:14px;font-weight:normal;color:#40b1e6;}

.uc_infos{padding-bottom:15px;border-bottom:1px dashed #cecece;}
.uc_infos h3{font-size:18px;color:#40b1e6;line-height:78px;}
.customer_info,.service_info{width:383px;}






















































































